<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("carusel1.png", size: "1100x500", class: "d-block w-100", alt: "First slide") %>
      <div class="carousel-caption d-none d-md-block">
        <%= link_to "Nuevo Ingreso", nuevo_ingreso_path, class: "btn btn-success btn-lg", style: "color:#fff;" %>
        <h5>Bienvenido al Centro de Estudios de Bachillerato CEB 6-1</h5>
        <h5>AGUASCALIENTES</h5>
        <p>Contamos con instalaciones e infraestructura para asegurar el aprovechamiento de nuestros alumnos</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag("carusel2.png", size: "1100x500", class: "d-block w-100", alt: "Second slide") %>
      <div class="carousel-caption d-none d-md-block">
        <%= link_to "Nuevo Ingreso", nuevo_ingreso_path, class: "btn btn-success btn-lg", style: "color:#fff;" %>
        <h5>Educación con valores y retos</h5>
        <p>Estamos incorporados a la Dirección General de Bachilleratos de la SEP </p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag("carusel3.png", size: "1100x500", class: "d-block w-100", alt: "Third slide") %>
      <div class="carousel-caption d-none d-md-block">
        <%= link_to "Nuevo Ingreso", nuevo_ingreso_path, class: "btn btn-success btn-lg", style: "color:#fff;" %>
        <h5>Con un alto porcentaje de historias de éxito</h5>
        <p>Nuestros egresados son rápidamente integrados en los sistemas de educación superior</p>
      </div>
    </div>
  </div>
</div>

<div id="overviews" class="section wb">
        <div class="container">
            <div class="section-title row text-center">
                <div class="col-md-8 offset-md-2">
                    <h2>Centro de Estudios de Bachillerato 6-1</h2>
                    <h2>Aguascalientes</h2>
                    <p class="lead">En el CEB 6-1 proporcionamos educación intermedia nivel Bachillerato de calidad con un excelente ambiente.</p>
                </div>
            </div><!-- end title -->
        
            <div class="row align-items-center" id="mision">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="message-box">
                        <h4>CEB 6-1</h4>
                        <h2>Misión</h2>
                        <p>Brindar un espacio educativo de calidad, donde se formen jóvenes comprometidos con su entorno, desarrollando competencias además de atender sus dimensiones axiológicas, físicas, sociales y cognitivas que les permitan incorporarse a la educación superior y/o al trabajo productivo.</p>

                        <%
=begin%>
 <a href="#" class="hover-btn-new orange"><span>Learn More</span></a> 
<%
=end%>
                    </div><!-- end messagebox -->
                </div><!-- end col -->
				
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="post-media wow fadeIn">
                        <%= image_tag("salon01.png", size: "390x300", class: "img-fluid img-rounded") %>
                    </div><!-- end media -->
                </div><!-- end col -->
			</div>
			<div class="row align-items-center" id="vision">
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="post-media wow fadeIn">
                      <%= image_tag("compusdos.png", size: "390x300", class: "img-fluid img-rounded") %>
                    </div><!-- end media -->
                </div><!-- end col -->
				
				<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="message-box">
                        <h2>Visión</h2>
                        <p>Contribuir al desarrollo científico y tecnológico de la sociedad, sustentando en los conocimientos, habilidades, valores y actitudes de nuestros egresados que favorezcan la calidad en las relaciones humanas.</p>

                        <%
=begin%>
 <a href="#" class="hover-btn-new orange"><span>Learn More</span></a> 
<%
=end%>
                    </div><!-- end messagebox -->
                </div><!-- end col -->
				
            </div><!-- end row -->
        </div><!-- end container -->
      <div id="organigrama" style="margin-top:10px;">
        <hr>
        <div class="row">
				  <div class="col">
					  <h2>ORGANIGRAMA</h2>
				  </div>
				  <div class="col">
					  <a href=<%= root_path %>>
						  Regresar
						  <i class="fa fa-level-up" aria-hidden="true"></i>
					  </a>
				  </div>
			  </div>
        <%= render "orgchart" %>
      </div>
      <div id="seguridad" style="margin-top:10px;">
        <hr>
        <div class="row">
				  <div class="col">
					  <h2>CONSEJO DE SEGURIDAD</h2>
				  </div>
				  <div class="col">
					  <a href=<%= root_path %>>
						  Regresar
						  <i class="fa fa-level-up" aria-hidden="true"></i>
					  </a>
				  </div>
			  </div>
        <%= render "seguridad" %>
      </div>
    </div><!-- end section -->