<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Birth city:</strong>
  <%= @student.birth_city %>
</p>

<p>
  <strong>Birth state:</strong>
  <%= @student.birth_state %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @student.birth_date %>
</p>

<p>
  <strong>Address street:</strong>
  <%= @student.address_street %>
</p>

<p>
  <strong>Address number:</strong>
  <%= @student.address_number %>
</p>

<p>
  <strong>Address complex:</strong>
  <%= @student.address_complex %>
</p>

<p>
  <strong>Address cp:</strong>
  <%= @student.address_cp %>
</p>

<p>
  <strong>Address phone:</strong>
  <%= @student.address_phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @student.facebook %>
</p>

<p>
  <strong>Personal phone:</strong>
  <%= @student.personal_phone %>
</p>

<p>
  <strong>Father name:</strong>
  <%= @student.father_name %>
</p>

<p>
  <strong>Father live:</strong>
  <%= @student.father_live %>
</p>

<p>
  <strong>Father occupation:</strong>
  <%= @student.father_occupation %>
</p>

<p>
  <strong>Father phone:</strong>
  <%= @student.father_phone %>
</p>

<p>
  <strong>Mother name:</strong>
  <%= @student.mother_name %>
</p>

<p>
  <strong>Mother live:</strong>
  <%= @student.mother_live %>
</p>

<p>
  <strong>Mother occupation:</strong>
  <%= @student.mother_occupation %>
</p>

<p>
  <strong>Mother phone:</strong>
  <%= @student.mother_phone %>
</p>

<p>
  <strong>Tutor name:</strong>
  <%= @student.tutor_name %>
</p>

<p>
  <strong>Tutor parenthood:</strong>
  <%= @student.tutor_parenthood %>
</p>

<p>
  <strong>Previous school:</strong>
  <%= @student.previous_school %>
</p>

<p>
  <strong>Previous school type:</strong>
  <%= @student.previous_school_type %>
</p>

<p>
  <strong>Scolarship:</strong>
  <%= @student.scolarship %>
</p>

<p>
  <strong>Security institution:</strong>
  <%= @student.security_institution %>
</p>

<p>
  <strong>Medical condition:</strong>
  <%= @student.medical_condition %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
