    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Contacto</h3>
                        </div>
                        <p> Puede llamar al 449 123 4567 en horario de atención: 8:00 a 17:00 Hrs de Lunes a Viernes</p>   
						<div class="footer-right">
							<ul class="footer-links-soi">
								<%
=begin%>
 <li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-github"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-pinterest"></i></a></li> 
<%
=end%>
                                <li><a href="https://goo.gl/maps/5QVMJJnLoBWeLsma9"><i class="fa fa-map-marker"></i></a></li>
							</ul><!-- end links -->

						</div>						
                    </div><!-- end clearfix -->
                </div><!-- end col -->

				<div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Ligas</h3>
                        </div>
                        <ul class="footer-links" style="color:#fff;">
                            <li><a href=<%= root_path %>>Home</a></li>
                            <li><a href=<%= privacidad_path %>>Privacidad</a></li>
							<%
=begin%>
 <li><a href="#">About</a></li>
							<li><a href="#">Contact</a></li> 
<%
=end%>
                            <li>
                              <% if logged_in? %>
                                <%= link_to logout_path, method: :delete do %>
                                  <%= image_tag "TardisBlue.jpg", size: "40x45" %>
                                <% end %>
                              <% else %>
                                <%= link_to login_path do %>
                                  <%= image_tag "TardisIcon.png", size: "40x45" %>
                                <% end %>
                              <% end %>
                            </li>
                        </ul><!-- end links -->

                    </div><!-- end clearfix -->
                </div><!-- end col -->
				
                <div class="col-lg-4 col-md-4 col-xs-12">
                    <div class="widget clearfix">
                        <div class="widget-title">
                            <h3>Contacto</h3>
                        </div>

                        <ul class="footer-links">
                            <%
=begin%>
 <li><a href="mailto:#">info@yoursite.com</a></li>
                            <li><a href="#">www.yoursite.com</a></li> 
<%
=end%>
                            <li>San Francisco de los Viveros 101, Ojocaliente 1, Aguascalientes, Ags.</li>
                            <li>+52 449 123 4567</li>
                        </ul><!-- end links -->
                        
                    </div><!-- end clearfix -->
                </div><!-- end col -->

            </div><!-- end row -->
        </div><!-- end container -->
    </footer><!-- end footer -->