<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= image_tag "escudoCEB61.png", size: "60x60" %>
    <%= link_to "CEB 6-1", "#", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-rigth">
        <li><%= link_to "Información", "#" %></li>
        <li><%= link_to "Servicios", "#" %></li>
        <li><%= link_to "Control", "#" %></li>
        <li><%= link_to "Virtual", "#" %></li>
      </ul>
    </nav>
  </div>
</header>