<header class="navbar navbar-fixed-top navbar-inverse">
  
    <div class="navbar navbar-brand">
      <%= link_to root_path do %>
        <%= image_tag "escudoCEB61.png", size: "70x70" %>
      <% end %>
      <div id="logo" data-toggle="dropdown">
        CEB 6-1
      </div>
      <ul class="dropdown-menu" role="menu">
        <li><a class="dropdown-item" href=<%= root_path %>>Misión</a></li>
        <li><a class="dropdown-item" href=<%= "#{root_path}#vision" %>>Visión</a></li>
        <li><a class="dropdown-item" href=<%= "#{root_path}#organigrama" %>>Organigrama</a></li>
        <li><a class="dropdown-item" href="#">Comité de Padres de Familia</a></li>
        <li><a class="dropdown-item" href=<%= "#{root_path}#seguridad" %>>Red de Seguridad</a></li>
        <li><a class="dropdown-item" href="#">Transparencia</a></li>
        
      </ul>
    </div>
    <nav>
      <ul class="nav navbar-nav navbar-rigth">
        <li class="nav-item dropdown">
          <button type="button" class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
            <span>Información Académica</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a class="dropdown-item" href=<%= informacion_path %>>Calendarios -</a></li>
            <li><a class="dropdown-item" href=<%= "#{informacion_path}#mapas" %>>Mapas Curriculares -</a></li>
            <li><a class="dropdown-item" href=<%= "#{informacion_path}#horarios" %>>Horarios -</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <button type="button" class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
            <span>Servicios Educativos</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a class="dropdown-item" href=<%= nuevo_ingreso_path %>>Nuevo Ingreso</a></li>
            <li><a class="dropdown-item" href=<%= under_const_path %>>Becas</a></li>
            <li><a class="dropdown-item" href=<%= under_const_path %>>Orientación Educativa</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <button type="button" class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
            <span>Control Escolar</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a class="dropdown-item" href=<%= under_const_path %>>Certificados</a></li>
            <li><a class="dropdown-item" href=<%= under_const_path %>>Historiales Académicos</a></li>
            <li><a class="dropdown-item" href=<%= under_const_path %>>Bajas</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <button type="button" class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
            <span>Aula Virtual</span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a class="dropdown-item" href=<%= under_const_path %>>Primer Semestre</a></li>
            <li><a class="dropdown-item" href=<%= under_const_path %>>Segundo Semestre</a></li>
            <li><a class="dropdown-item" href=<%= under_const_path %>>Tercer Semestre</a></li>
            <li><a class="dropdown-item" href=<%= under_const_path %>>Cuarto Semestre</a></li>
            <li><a class="dropdown-item" href=<%= under_const_path %>>Quinto Semestre</a></li>
            <li><a class="dropdown-item" href=<%= under_const_path %>>Sexto Semestre</a></li>
          </ul>
        </li>
        <li class="nav-item">
            <a class="dropdown-item" href=<%= '#' %>>Avisos</a>
        </li> 
      </ul>
    </nav>

</header>